[MASTER]
jobs=1

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring

[FORMAT]
max-line-length=100

[DESIGN]
max-locals=20
max-arguments=8

[BASIC]
good-names=i,j,k,n,m,x,y,_,dr,dc,s

[TYPECHECK]
generated-members=pytest.*
